<div>
  <a
    routerLink="/feed"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Feed
  </a>
  <a
    routerLink="/"
    routerLinkActive="active"
    [queryParamsHandling]="'merge'"
    [routerLinkActiveOptions]="{ exact: true}"
  >
    Global Feed
  </a>
  <a
    [routerLink]="['/tags', tagNameProps]"
    routerLinkActive="active"
    [queryParamsHandling]="'merge'"
    [routerLinkActiveOptions]="{ exact: true }"
    *ngIf="tagNameProps"
  >
    #{{ tagNameProps }}
  </a>
</div>

