.container {
  display: flex;
  justify-content: space-between;
}

.left-section {
  max-width: 300px; 
  margin-right: 15px;
}

.right-section {
  flex-grow: 1; 
}

.banner {
  margin-bottom: 20px; 
}

.tags-section {
  margin-bottom: 20px; 
}


.feed-toggler {
  margin-bottom: 20px; 
}