<div class="settings-form">
 <!--  <h1 class="">Settings</h1>
  <app-backend-error-messages
    *ngIf="backendErrors$ | async as backendErrors"
    [backendErrors]="backendErrors"
  ></app-backend-error-messages>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <fieldset class="settings-form-fieldset">
      <fieldset class="form-group">
        <input
          type="text"
          class="settings-form-input"
          formControlName="image"
          placeholder="URL of profile picture"
        />
      </fieldset>

      <fieldset class="form-group">
        <input
          type="text"
          class="settings-form-input"
          formControlName="username"
          placeholder="Username"
        />
      </fieldset>

      <fieldset class="form-group">
        <textarea
          type="text"
          class="settings-form-textarea settings-form-bio-input"
          formControlName="bio"
          placeholder="Short bio about you"
        ></textarea>
      </fieldset>

      <fieldset class="form-group">
        <input
          type="text"
          class="settings-form-input"
          formControlName="email"
          placeholder="Email"
        />
      </fieldset>

      <fieldset class="form-group">
        <input
          type="password"
          class="settings-form-input"
          formControlName="password"
          placeholder="New password"
        />
      </fieldset>
      <button
        type="submit"
        class="settings-form-button"
        [disabled]="form.invalid || (isSubmitting$ | async)"
      >
        Update settings
      </button>
    </fieldset>
  </form>
  <hr /> -->
  <button class="settings-form-logout-button" (click)="logout()" type="text">
    Or click here to logout
  </button>
</div>
