<app-loading *ngIf="isLoading$ | async" class="loading">Loading...</app-loading>

<app-error-message *ngIf="error$ | async" class="error"
  >Some error happened...</app-error-message
>
<div *ngIf="(feed$ | async)?.articles?.length === 0">
  <p class="no-articles">No articles are here... yet.</p>
</div>

<div *ngIf="feed$ | async">
  <div
    class="article-container"
    *ngFor="let article of (feed$ | async)?.articles"
  >
    <div class="author-container">
      <a [routerLink]="['/profiles', article.author.username]">
        <img [src]="article.author.image" />
      </a>
      <div class="author-info">
        <a [routerLink]="['/profiles', article.author.username]" class="author">
          {{ article.author.username }}
        </a>
        <span class="created-at">{{
          article.createdAt | date : "MMM d, yyyy"
        }}</span>
      </div>
      <div class="add-favorites">
        <app-add-to-favorites
          [isFavorited]="article.favorited"
          [articleSlug]="article.slug"
          [favoritesCount]="article.favoritesCount"
        />
      </div>
    </div>
    <div  class="article-link">
      <h1>
        {{ article.title.slice(0, 120)
        }}{{ article.title.length > 120 ? wordMaxLenght : "" }}
      </h1>
      <p>{{ article.description.slice(0, 300) }}
        {{ article.description.length > 300 ? wordMaxLenght : "" }}</p>
      <a [routerLink]="['/articles', article.slug]" class="read-more">Read more..</a>
      <app-tag-list [tags]="article.tagList"></app-tag-list>
    </div>
  </div>
  <app-pagination
    [total]="(feed$ | async)?.articlesCount || 1"
    [limit]="limit"
    [url]="baseUrl"
    [currentPage]="currentPage"
  ></app-pagination>
</div>
