div {
  display: flex;
}

a {
  font-size: 15px;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  color: #333;
  text-decoration: none;
}

a.active {
  background-color: #333;
  color: #fff;
}